---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Anderson Carubelli
      </span>
    </h1>
    <p class="text-2xl pb-4">Technology Leader & Software Engineer</p>
  </div>
  <div>
    <p class="mb-5">
      Over 20 years of experience leading software development and driving
      innovation in the technology sector. I possess a diverse skillset in
      various programming languages, databases, cloud platforms, and Agile
      methodologies. I am passionate about building impactful solutions and
      fostering strong teams through collaborative practices and empathetic
      leadership.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <a href="https://www.linkedin.com/in/andersoncarubelli/"
        ><img
          src="https://img.shields.io/badge/LinkedIn-informational?logo=linkedin"
        /></a
      >
    </p>
  </div>
  <div>
    <p class="mb-5">
      <p>
        <a href="https://skillicons.dev">
          <img
            src="https://skillicons.dev/icons?i=java,go,py,rails,ts,git,github,gitlab,postgres,docker,aws,gcp,cloudflare"
          />
        </a>
      </p>
    </p>
  </div>
</section>
